#navigation {
  background-color: #4D97FF;
}

ul.dropdown.production.open {
  background-color: #4D97FF;
}

div.title-banner {
  background-color: #4D97FF;
}

button.button.messages-social-loadmore {
  background-color: #4D97FF;
}

html {
  background-color: #4D97FF;
}

div.page {
  background-color: #4D97FF;
}

div.menu-bar_main-menu_3wjWH {
  background-color: #4D97FF;
}

div.menu-bar_menu-bar-item_oLDa- {
  background-color: #4D97FF;
}

a.menu-bar_menu-bar-item_oLDa-.menu-bar_hoverable_c6WFB.sa-editormessages {
  background-color: #4D97FF;
}

div.innerwrap {
  background-color: #4D97FF;
}

div.menu-bar_account-info-group_MeJZP {
  background-color: #4D97FF;
}
